bazel-*
mediapipe/MediaPipe.xcodeproj
mediapipe/MediaPipe.tulsiproj/*.tulsiconf-user
mediapipe/provisioning_profile.mobileprovision
node_modules/
.configure.bazelrc
.user.bazelrc

# Build artifacts
*.a
*.dylib
*.so
*.lib
dist/

# Allow opencv-mobile static libraries
!opencv/**/*.a
!opencv/**/opencv2
